:root, [data-bs-theme=light] {
  --bs-primary: #dd7732;
  --bs-primary-rgb: 221,119,50;
  --bs-primary-text-emphasis: #583014;
  --bs-primary-bg-subtle: #F8E4D6;
  --bs-primary-border-subtle: #F1C9AD;
  --bs-light: #1B223D;
  --bs-light-rgb: 27,34,61;
  --bs-light-text-emphasis: #0B0E18;
  --bs-light-bg-subtle: #D1D3D8;
  --bs-light-border-subtle: #A4A7B1;
  --bs-body-color: white;
  --bs-body-color-rgb: 255,255,255;
  --bs-secondary-color: rgba(255,255,255,0.75);
  --bs-secondary-color-rgb: 255,255,255,0.75;
  --bs-tertiary-color: rgba(255,255,255,0.5);
  --bs-tertiary-color-rgb: 255,255,255,0.5;
  --bs-body-bg: #1E222D;
  --bs-body-bg-rgb: 30,34,45;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #dd7732;
  --bs-btn-border-color: #dd7732;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #E28B51;
  --bs-btn-hover-border-color: #E08547;
  --bs-btn-focus-shadow-rgb: 33,18,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #E4925B;
  --bs-btn-active-border-color: #E08547;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #dd7732;
  --bs-btn-disabled-border-color: #dd7732;
}

.btn-outline-primary {
  --bs-btn-color: #dd7732;
  --bs-btn-border-color: #dd7732;
  --bs-btn-focus-shadow-rgb: 221,119,50;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #dd7732;
  --bs-btn-hover-border-color: #dd7732;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #dd7732;
  --bs-btn-active-border-color: #dd7732;
  --bs-btn-disabled-color: #dd7732;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dd7732;
}

.btn-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1B223D;
  --bs-btn-border-color: #1B223D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #171D34;
  --bs-btn-hover-border-color: #161B31;
  --bs-btn-focus-shadow-rgb: 221,222,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #161B31;
  --bs-btn-active-border-color: #141A2E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1B223D;
  --bs-btn-disabled-border-color: #1B223D;
}

.btn-outline-light {
  --bs-btn-color: #1B223D;
  --bs-btn-border-color: #1B223D;
  --bs-btn-focus-shadow-rgb: 27,34,61;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1B223D;
  --bs-btn-hover-border-color: #1B223D;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1B223D;
  --bs-btn-active-border-color: #1B223D;
  --bs-btn-disabled-color: #1B223D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1B223D;
}

